.header {
  min-height: 650px;
  // width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $color-curious-blue;
  background-image: image-set("../img/background/background-desktop@2x.webp" 2x, "../img/background/background-desktop.webp" 1x);
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    min-height: 638px;
    background-image: image-set("../img/background/background-tablet@2x.webp" 2x, "../img/background/background-tablet.webp" 1x);
    box-shadow: none;
  }

  @include vp-767 {
    min-height: 500px;
    // background-image: image-set("../img/background/background-mobile@2x.webp" 2x, "../img/background/background-mobile.webp" 1x);
  }
}

.header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1023 {
    padding: 0 29px 0 28px;
  }

  @include vp-767 {
    padding: 0 15px 0 15px;
  }
}

.header__navigation-wrapper {
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;

  @include vp-767 {
    padding: 0;
  }
}

.header__logo {
  fill: $color-default-white;
  width: 70px;
  height: 38px;

  &:focus-visible {
    outline: none;
  }
}

.header__icon {
  margin-top: 14px;

  @include vp-1023 {
    margin: 10px 0 0 17px;
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    margin: 20px 0 0;
    width: 42px;
    height: 22px;
  }

  &:focus {
    outline: auto;
  }
}

.header__navigation {
  max-width: 670px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    margin: 1px 5px 0 0;
    padding: 0;
  }

  @include vp-767 {
    margin-top: 4px;
  }
}

.header__item {
  padding: 5px 17px;

  @include vp-1023 {
    padding: 5px 12px;
  }

  @include vp-767 {
    padding: 13px 22px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;
  cursor: pointer;
  user-select: none;

  &:hover {
    transition: all 0.3s ease-in-out;
    color: $color-quartz;
    text-shadow: $color-default-white 2px 0 10px;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}

.header__toggle {
  display: none;
  padding: 0;
  width: 24px;
  height: 16px;
  background-image: url("/img/svg/burger.svg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  margin-top: 23px;

  @include vp-767 {
    display: block;
    align-self: flex-end;
  }
}

.header__text {
  padding: 172px 0 230px 96px;
  margin-bottom: 50px;

  @include vp-1023 {
    padding: 199px 0 225px 17px;
  }

  @include vp-767 {
    padding: 0 0 130px;
    margin-top: 136px;
  }
}

.header__text h1 {
  margin: 0 0 12px;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  color: $color-default-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.header__text p {
  margin: 0;
  color: $color-default-white;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    padding-right: 60px;
    font-size: 16px;
  }
}

.header--nojs .header__toggle {
  @include vp-767 {
    display: none;
  }
}

.header--closed .header__list {
  @include vp-767 {
    display: none;
  }
}

.header--opened {
  position: relative;
}

.header--opened .header__container {
  @include vp-767 {
    padding: 0;
  }
}

.header--opened .header__text {
  margin-top: 175px;
  padding-left: 15px;
}

.header--opened .header__navigation {
  @include vp-767 {
    position: absolute;
    background-color: $color-default-white;
    z-index: 11;
    width: 89%;
    height: 101vh;
    right: 0;
  }
}

.header--opened .header__list {
  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    position: absolute;
    top: 67px;
    overflow-x: auto;
    width: 99%;
    height: auto;
    max-height: calc(100vh - 67px);
    margin-left: 2px;
  }
}

.header--opened .header__link {
  @include vp-767 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-black;
  }
}

.header--opened .header__toggle {
  @include vp-767 {
    background-image: url("/img/svg/close.svg");
    margin-right: 10px;
    z-index: 12;
  }
}

.header--opened .header__logo {
  @include vp-767 {
    position: absolute;
    z-index: 12;
    top: 20px;
    left: 16%;
  }
}

.header--opened .header__icon {
  @include vp-767 {
    fill: $color-default-black;
    margin: 0;
  }
}

.header--nojs .header__navigation {
  @include vp-767 {
    width: 100%;
    margin-bottom: 50px;
  }
}

.header--nojs .header__list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.header--nojs .header__link {
  @include vp-767 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-white;
  }
}

.header--nojs .header__icon {
  @include vp-767 {
    fill: $color-default-white;
  }
}
